$tertiary: #40a829;
$trans: transparent;
$border-color: #ddd;
$body-color: #666;
$box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
$transition: all 0.5s ease-out;
// ----------------------------------------------------Dark Versions----------------------------------------------//
$primary-dark: darken(
    $color: $primary,
    $amount: 10%,
);
$secondary-dark: darken(
    $color: $secondary,
    $amount: 10%,
);
$tertiary-dark: darken(
    $color: $tertiary,
    $amount: 10%,
);
// ----------------------------------------------------Light Versions---------------------------------------------//
$primary-light: rgba(
    $color: $primary,
    $alpha: 0.1,
);
$secondary-light: rgba(
    $color: $secondary,
    $alpha: 0.1,
);
$tertiary-light: rgba(
    $color: $tertiary,
    $alpha: 0.1,
);
// -------------------------------------------------------Font--------------------------------------------------//
$primary-font: "Circular";
$secondary-font: "Inter", sans-serif;
// -----------------------------------------------------Custom Styles------------------------------------------//
.main-sidebar {
    .nav-link {
        display: flex !important;
        align-items: center;
        gap: 0.5rem;
        &:hover,
        &:active,
        &:focus {
            background-color: darken($color: $primary, $amount: 10%);
        }
    }
}
.navbar-search {
    .form-control,
    .btn {
        height: 45px !important;
    }
    .form-control {
        border: 1px solid $white !important;
        &:focus {
            border: 1px solid $primary !important;
        }
    }
}
.circle-xs {
    border-radius: 30px !important;
}
table {
    td {
        font-size: 14px !important;
        vertical-align: middle !important;
        &:last-child {
            text-align: right;
        }
    }
    th {
        &:last-child {
            text-align: right;
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
}
.eyebrow {
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 700 !important;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
body {
    font-size: 14px;
}
