@mixin align-cntr {
    margin: auto;
    text-align: center;
}

@mixin flex-hv-cntr {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin in-flex-hv-cntr {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-v-cntr {
    display: flex;
    align-items: center;
}
@mixin flex-h-cntr {
    display: flex;
    justify-content: center;
}
@mixin nopad {
    margin: 0 !important;
    padding: 0 !important;
}
@mixin both-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
@mixin circle($unit, $bg) {
    width: $unit;
    height: $unit;
    min-width: $unit;
    border-radius: 50%;
    background-color: $bg;
    @include flex-hv-cntr;
}
@mixin square($unit) {
    width: $unit;
    height: $unit;
    min-width: $unit;
    border-radius: $form-rds;
    @include flex-hv-cntr;
}
@mixin round($unit) {
    width: $unit;
    height: $unit;
    min-width: $unit;
    border-radius: $unit;
    @include flex-hv-cntr;
}
@mixin circle-image($unit) {
    width: $unit;
    height: $unit;
    min-width: $unit;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
@mixin round($unit) {
    width: $unit;
    height: $unit;
    min-width: $unit;
    border-radius: $unit;
    @include flex-hv-cntr;
}
@mixin outline-circle($color) {
    color: $color;
    border: 1px solid $color;
}
@mixin sticky($top) {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: $top;
}
